.jumbotron {
	font-size: 48px;
	text-align: center;
}

.tile {
	border: 1px solid #BBB;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	min-height: 150px;
	cursor: pointer;
	color: #333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}