.jumbotron {
	font-size: 48px;
	text-align: center;
}

.tile {
	border: 1px solid black;
	text-align: center;
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	font-size: 1.5em;
	min-height: 150px;
    line-height: 130px;
}
