
.active-tile {
	position: fixed;
	background: white;
	margin: 0 auto;
	width: 70%;
    border: 1px solid black;
    left: 0;
    left: 15%;
    padding: 20px;
	top: 50%;
}
.activeCurtain {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.active-tile-enter {
  top: 100%;
}

.active-tile-enter.active-tile-enter-active {
	top: 50%;
	transition: top .25s ease-in;
}
.active-tile-leave {
	top: 50%;
}
.active-tile-leave.active-tile-leave-active {
	top:100%;
 	transition: top .25s ease-out;
}